html {
    width: 100%;
}

/* navbar styles */

.navbar li {
    list-style-type: none;
    float: right;
    height: 100%;
}

nav { 
    display: flex;
    background-color: #333;
    align-items: center;

}


.navbar {
    margin: 0;
    padding: 10px;
    overflow: hidden;
    align-items: center;
}

#logo {
    margin: 0px 0px 0px 20px;
    white-space: nowrap;
    padding: 20px;
    color: white;
    text-align: center;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
    position: relative;
}

.navbar a:hover{
    background-color: black;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;

}

.wrong-sentence {
    visibility: hidden;
}

.bodyhead {
    padding: 5%;
    line-height: 2.0rem;

}

.question-number {
    display: block;
    margin: 20px;
}

.video {
    display: none;
}


/* form matter */
#question-number {
    width: 180px;
    height: 1.5rem;
    background-color: #daeade;
    border-radius: 5%;
    padding: 0.5rem;
    margin-right: 1.5rem;
    
}

#submit-button {
    width: 200px;
    height: 2.0rem;
    background-color: #daeade;
    border-radius: 5%;
    border-style: none;
    
    
}

#submit-button:hover {
    color: white;
    background-color: #333;
}



/* For mobile phones */
@media only screen and (max-width: 500px) {
    
    body {
        font-size: 1.2rem;
    }

    .navbar li {
        width: 100%;
    }

    nav {
        display: block;
    }

    .video {
        width: 300px;
        height: 168px;
    }

    #submit-button {
        display: block;
        margin-top: 10%;
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}


/* footer icon */
.footer-icon {
    text-decoration: none;
    color: white;
}

.footer-icon:hover {
    color: yellow;
}

